<div class="jumbotron">
	<div class="container">
		<h1 class="display-3">Find Your Living Kidney Donor</h1>
		<p>1. You get unique phone number that connects directly to your transplant center.</p>
		<p>2. You give your number to your family, friends, and acquaintances and ask them to consider living kidney donation.</p>
		<p>3. You get updates on how many people have called in.</p>
		<p>Start your search.</p>
		<p><a class="btn btn-primary btn-lg" href="sign_up" role="button">Sign Up »</a></p>
	</div>
</div>
 
<div class="container">
  <h2>Active Phone Numbers</h2>
  <% @hotlines&.each do |hotline| %>
    <div class="row">
      <div class="col-md-4">
        <h3><a href="<%= "dashboard/#{hotline.phone_number.sub('+','')}" %>"><%= format_phone(hotline.phone_number) %></a></h3>
        <p><%= pluralize(hotline.incoming_calls.count, 'Call') %></p>
      </div>
    </div> 
  <% end %>
</div>
